body {
  font-family: "Arial", sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.input-nome {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 8px;
}
